<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="text/css" rel="stylesheet" href="../assets/css/style.css">
    <title>Homework 1</title>
</head>

<body>
    <div class="container">
        <div class="box">

            <h1>Create a Constructor function for product.</h1>

            <br><br>
            <p>You can view result below or in console</p>
            <br><br>
            <div class="align">
                <div id="output">
                    <h1>All products with price greater than price of 20:</h1>
                    <table></table>
                </div><br><br>
                <div id="disc">
                    <h1>Food on discount:</h1>
                    <table></table>
                </div><br><br>
                <div id="allProdAver">
                    <h1>The average price of all products that are on discount:</h1>
                </div><br><br>
                <div id="startingVowel">
                    <h1>Name and price of all products with name starting with a vowel:</h1>
                    <table></table>
                </div><br><br>
                <div>
                    <h1>Sort the products by price, ascending, without changing the original array:
                    </h1>
                    <table id="arrWithSort">
                        <tr>
                            <th>Name of product</th>
                            <th>Category of product</th>
                            <th>Discount</th>
                            <th>Price of product</th>
                        </tr>
                    </table>
                </div><br><br>
            </div>
        </div>
        <!-- <script src="../scripts/lib/jq.js"></script> -->
        <script src="../scripts/app.js"></script>

</body>

</html>