<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="text/css" rel="stylesheet" href="../assets/css/style.css">
    <title>Homework Bonus Task</title>
</head>

<body>
    <div class="container">
        <div class="box">
            <div>
                <h1>Try to write a function that finds factorial of a number. </h1><br>
                <br><br>
                <p>You can view result below: </p>
                <br><br>
            </div>
            <div>
                <label for="factInp">Enter the number from which you want to find factorial: </label>
                <input type="number" name="factInp" id="factInp" min="0">
                <div>
                    <button type="submit" id="myButt">Add</button>
                </div>
            </div>
            <div id="output"> </div>

        </div>
        <script src="../scripts/lib/jq.js"></script>
        <script src="../scripts/app.js"></script>

</body>

</html>